*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}
html{
	
	background: url(https://timeweb.com/ru/community/article/ff/ff0770833a0026f1b62813408cf5bfb6.jpg) no-repeat center center ;
	background-size: cover;
	height: 100%;
	width: 100%;
   
}
header{
	background: rgba(186, 191, 192, 0.5);
	color: #fff;
	padding: 5px;
	height: 100px;
	width: 100%;
	position: fixed;
	top: 0px;
}
body{

}

.mek{
	cursor: pointer;
	display: inline-block;
	margin-left:30% ;
	position: relative;
	margin-top: 30px;
	font-size: 20px;
}
.mek:hover{
	transition: all 0.2s ease-in-out;
	color: #FFB400;
}
.erku{
	cursor: pointer;
	display: inline-block;
	margin-left:50px;
	position: relative;
	margin-top: 30px;
	font-size: 20px;
}
.erku:hover{
	transition: all 0.2s ease-in-out;
	color: #FFB400;
}
.ereq{
	cursor: pointer;
	display: inline-block;
	margin-left:50px ;
	position: relative;
	margin-top: 30px;
	font-size: 20px;
}
.ereq:hover{
	transition: all 0.2s ease-in-out;
	color: #FFB400;
}
.chors{
	cursor: pointer;
	display: inline-block;
	margin-left:50px;
	position: relative;
	margin-top: 30px;
	font-size: 20px;
	
}
.chors:hover{
	transition: all 0.2s ease-in-out;
	color: #FFB400;
}
.web_1{
	display: block;
	margin-left: 43%;
	font-size: 80px;
	margin-top: 150px;
	font-family:Arial, sans-serif ;
	color: whitesmoke;
	
}
.web_2{
	margin-left: 35%;
	font-size: 80px;
	color: whitesmoke;
	font-family:Arial, sans-serif ;
}
.gic_1{
	background-color: #FFB400;	
	height: 5px;
	width: calc(100% - 450px);
	margin-top: 15px;
	margin-left: 200px;	
}
.instagram{
	position: fixed;
	margin-top: 75px;
}
.facebook{
	position: fixed;
	margin-top: 125px;
}
.twitter{
	position: fixed;
	margin-top: 175px;
}
.nor{
	background: url(https://demiart.ru/forum/uploads10/post-814522-1341334463.jpg) no-repeat center center fixed;
	background-size: cover;
	display: block;
	line-height: 1px;
	vertical-align: middle;
	margin-top: 440px;
	max-height: 40%;
}
.loremips {
	position: absolute;
	color: black;
	margin-top: 700px;
	display: block;
	max-width: 500px;
	left: 100px;
}
.loremips blockquote {
	font-size: 2.00em;
}

.loremips2 {
	position: absolute;
	color: black;
	margin-top: 700px;
	display: block;
	max-width: 500px;
	margin-left: 750px;
}
.loremips2 blockquote {
	font-size: 2.00em;
}

.loremips3 {
	position: absolute;
	color: black;
	margin-top: 1000px;
	display: block;
	max-width: 500px;
	margin-left: 100px;
}
.loremips3 blockquote {
	font-size: 2.00em;
}
.loremips4 {
	position: absolute;
	color: black;
	margin-top: 1000px;
	display: block;
	max-width: 500px;
	margin-left: 750px;
}
.loremips4 blockquote {
	font-size: 2.00em;
}



